# Server Configuration
PORT=5000

# Google Gemini API (for assignment analysis)
GEMINI_API_KEY=AIzaSyAMwbowlNkhQgdefI9ZmF_ig2IodsbCSbs

# MongoDB Connection
MONGO_URI=mongodb+srv://kushwahasaurav:Riya2244%40@sauravkushwaha.lwsad4d.mongodb.net/?appName=Sauravkushwaha
# Telegram Bot Configuration (for notifications)
TELEGRAM_BOT_TOKEN=8752620275:AAHiu0EVzybtPNjUSNEQ_OAoZ5IEmudCbeM
TELEGRAM_CHAT_ID=8752620275
