PORT=5000
GEMINI_API_KEY=AIzaSyAMwbowlNkhQgdefI9ZmF_ig2IodsbCSbs
MONGO_URI=mongodb+srv://kushwahasaurav:Riya2244%40@sauravkushwaha.lwsad4d.mongodb.net/?appName=Sauravkushwaha
TELEGRAM_BOT_TOKEN=8752620275:AAHiu0EVzybtPNjUSNEQ_OAoZ5IEmudCbeM
TELEGRAM_CHAT_ID=8752620275
